@import url('https://fonts.googleapis.com/css?family=Bellefair|Mukta+Malar:400,500,600,700');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bellefair', serif;
}

body {
    font-family: 'Mukta Malar', sans-serif;
}

.jumbotron {
    background-image: url('http://lorempixel.com/1200/500/animals/');
}
